In [3]:
import pandas as pd 
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],'mkey':['a','b','c','d'],'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz'],'value': [5, 6, 7]})
df1 , df2

(  lkey mkey  value
 0  foo    a      1
 1  bar    b      2
 2  baz    c      3
 3  foo    d      5,   lkey  value
 0  foo      5
 1  bar      6
 2  baz      7)

In [4]:

df1.merge(df2,on='lkey')

  lkey mkey  value_x  value_y
0  foo    a        1        5
1  foo    d        5        5
2  bar    b        2        6
3  baz    c        3        7

In [10]:
import numpy as np
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=['first', 'second'])
s = pd.Series(np.random.randn(8), index=index)
s

first  second
bar    one       1.479924
       two       0.962158
baz    one      -0.505465
       two       0.255190
foo    one       0.121732
       two      -1.094398
qux    one      -1.201680
       two      -0.700377
dtype: float64