In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

all_data = pd.read_csv('sales所在周次节假日_剔除换货.csv')
all_data.rename(columns={'店铺名称':'store','地理位置指数':'position','年份':'years','周次':'weeks','是否包含法定节假日':'Isholiday','季节':'season','大类':'item','销量(剔除换货）':'sales','均价（剔除换货）':'prices','促销（剔除换货）':'discount'},inplace=True)
a = all_data
week_5 = a.loc[lambda a : a['years'] == 2015]
week_6 = a.loc[lambda a : a['years'] == 2016]
week_6['weeks'] += 53
a = pd.concat([week_5,week_6])
a_part = a.loc[:,['store','weeks','item','sales']]
from sklearn import preprocessing

#map店铺名称
name = a['store']
le = preprocessing.LabelEncoder()
le.fit(name)
list(name)
le.transform(name)
tmp = le.transform(name)
a['store'] = tmp

#map合并大类
category = a['item']
le.fit(category)
list(category)
le.transform(category)
tmp = le.transform(category)
a['item'] = tmp
a_part = a.loc[:,['store','weeks','item','sales']]
a_part

/home/lin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

       store  weeks  item  sales
0          0      1     1      1
1          0      1     2     30
2          0      1     9      2
3          0      1    10      2
4          0      1     6      1
5          0      1     7      2
6          0      2     1      1
7          0      2     2      6
8          0      2     6      1
9          0      2     6      2
10         0      2     7      3
11         0      3     1      1
12         0      3     2      8
13         0      3    10      2
14         0      3     6      3
15         0      3     6      1
16         0      3     7      1
17         0      4     2     19
18         0      4    10      1
19         0      4     6      4
20         0      4     6      2
21         0      4     7      3
22         0      5     2     16
23         0      5    10      1
24         0      5     6      3
25         0      5     6      2
26         0      5     7      4
27         0      6     1      1
28         0      6     2     30
29         0      6     6      1
...      ...    ...   ...    ...
18133     29    102    10      6
18134     29    102     6     44
18135     29    102     7      5
18136     29    102     6     12
18137     29    102     7     36
18138     29    103     1      1
18139     29    103     2      7
18140     29    103     8      6
18141     29    103     6     12
18142     29    103     6      3
18143     29    103     7      3
18144     29    104     2      5
18145     29    104     8      2
18146     29    104     6      5
18147     29    104     6      3
18148     29    104     7      1
18149     29    105     1      1
18150     29    105     2     12
18151     29    105     8      4
18152     29    105     9      1
18153     29    105     6      9
18154     29    105     6      1
18155     29    105     7     12
18156     29    106     1      4
18157     29    106     2     23
18158     29    106     7      1
18159     29    106     9      2
18160     29    106     6      2
18161     29    106     6      4
18162     29    106     7      9

[18163 rows x 4 columns]

In [2]:
#a_part.groupby('store','weeks','item').sum()('sales')
a = pd.DataFrame(a_part.groupby(['store','weeks','item']).sum()['sales']).unstack()
a.fillna(0).stack()

                  sales
store weeks item
0     1     0       0.0
            1       1.0
            2      30.0
            3       0.0
            4       0.0
            5       0.0
            6       1.0
            7       2.0
            8       0.0
            9       2.0
            10      2.0
            11      0.0
      2     0       0.0
            1       1.0
            2       6.0
            3       0.0
            4       0.0
            5       0.0
            6       3.0
            7       3.0
            8       0.0
            9       0.0
            10      0.0
            11      0.0
      3     0       0.0
            1       1.0
            2       8.0
            3       0.0
            4       0.0
            5       0.0
...                 ...
29    104   6       8.0
            7       1.0
            8       2.0
            9       0.0
            10      0.0
            11      0.0
      105   0       0.0
            1       1.0
            2      12.0
            3       0.0
            4       0.0
            5       0.0
            6      10.0
            7      12.0
            8       4.0
            9       1.0
            10      0.0
            11      0.0
      106   0       0.0
            1       4.0
            2      23.0
            3       0.0
            4       0.0
            5       0.0
            6       6.0
            7      10.0
            8       0.0
            9       2.0
            10      0.0
            11      0.0

[34608 rows x 1 columns]

In [3]:
a0 = a_part.loc[lambda a_part : a_part['store'] == 0]
a0['weeks'].drop_duplicates().count()

106

In [16]:
#a0 = a_part.loc[lambda a_part : a_part['store'] == 0]
#a0['weeks'].drop_duplicates()
for i in a_part['store'].drop_duplicates():
    a = a_part[lambda a_part : a_part['store'] == i]
    b = a['weeks'].drop_duplicates().count()
    print (i,b)

0 106
2 106
3 106
4 106
5 106
6 106
7 106
8 106
9 106
10 106
11 106
12 106
13 79
14 106
16 106
17 106
18 106
19 106
21 106
22 106
23 106
24 106
25 106
26 92
27 106
28 106
29 106
1 17
15 17
20 29

In [30]:
a0=a_part[lambda a_part: a_part['store'] == 0]
a2=a_part[lambda a_part: a_part['store'] == 2]
a3=a_part[lambda a_part: a_part['store'] == 3]
a4=a_part[lambda a_part: a_part['store'] == 4]
a5=a_part[lambda a_part: a_part['store'] == 5]
a6=a_part[lambda a_part: a_part['store'] == 6]
a7=a_part[lambda a_part: a_part['store'] == 7]
a8=a_part[lambda a_part: a_part['store'] == 8]
a9=a_part[lambda a_part: a_part['store'] == 9]
a10=a_part[lambda a_part: a_part['store'] == 10]
a11=a_part[lambda a_part: a_part['store'] == 11]
a12=a_part[lambda a_part: a_part['store'] == 12]
a14=a_part[lambda a_part: a_part['store'] == 14]
a16=a_part[lambda a_part: a_part['store'] == 16]
a17=a_part[lambda a_part: a_part['store'] == 17]
a18=a_part[lambda a_part: a_part['store'] == 18]
a19=a_part[lambda a_part: a_part['store'] == 19]
a21=a_part[lambda a_part: a_part['store'] == 21]
a22=a_part[lambda a_part: a_part['store'] == 22]
a23=a_part[lambda a_part: a_part['store'] == 23]
a24=a_part[lambda a_part: a_part['store'] == 24]
a25=a_part[lambda a_part: a_part['store'] == 25]
a27=a_part[lambda a_part: a_part['store'] == 27]
a28=a_part[lambda a_part: a_part['store'] == 28]
a29=a_part[lambda a_part: a_part['store'] == 29]
a_p=pd.concat([a0,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a14,a16,a17,a18,a19,a21,a22,a23,a24,a25,a27,a28,a29])
a_p

       store  weeks  item  sales
0          0      1     1      1
1          0      1     2     30
2          0      1     9      2
3          0      1    10      2
4          0      1     6      1
5          0      1     7      2
6          0      2     1      1
7          0      2     2      6
8          0      2     6      1
9          0      2     6      2
10         0      2     7      3
11         0      3     1      1
12         0      3     2      8
13         0      3    10      2
14         0      3     6      3
15         0      3     6      1
16         0      3     7      1
17         0      4     2     19
18         0      4    10      1
19         0      4     6      4
20         0      4     6      2
21         0      4     7      3
22         0      5     2     16
23         0      5    10      1
24         0      5     6      3
25         0      5     6      2
26         0      5     7      4
27         0      6     1      1
28         0      6     2     30
29         0      6     6      1
...      ...    ...   ...    ...
18133     29    102    10      6
18134     29    102     6     44
18135     29    102     7      5
18136     29    102     6     12
18137     29    102     7     36
18138     29    103     1      1
18139     29    103     2      7
18140     29    103     8      6
18141     29    103     6     12
18142     29    103     6      3
18143     29    103     7      3
18144     29    104     2      5
18145     29    104     8      2
18146     29    104     6      5
18147     29    104     6      3
18148     29    104     7      1
18149     29    105     1      1
18150     29    105     2     12
18151     29    105     8      4
18152     29    105     9      1
18153     29    105     6      9
18154     29    105     6      1
18155     29    105     7     12
18156     29    106     1      4
18157     29    106     2     23
18158     29    106     7      1
18159     29    106     9      2
18160     29    106     6      2
18161     29    106     6      4
18162     29    106     7      9

[16539 rows x 4 columns]

In [31]:
df = pd.DataFrame(a_p.groupby(['store','weeks','item']).sum()['sales']).unstack()
a = df.fillna(0)
a.stack()

                  sales
store weeks item
0     1     0       0.0
            1       1.0
            2      30.0
            3       0.0
            4       0.0
            5       0.0
            6       1.0
            7       2.0
            8       0.0
            9       2.0
            10      2.0
            11      0.0
      2     0       0.0
            1       1.0
            2       6.0
            3       0.0
            4       0.0
            5       0.0
            6       3.0
            7       3.0
            8       0.0
            9       0.0
            10      0.0
            11      0.0
      3     0       0.0
            1       1.0
            2       8.0
            3       0.0
            4       0.0
            5       0.0
...                 ...
29    104   6       8.0
            7       1.0
            8       2.0
            9       0.0
            10      0.0
            11      0.0
      105   0       0.0
            1       1.0
            2      12.0
            3       0.0
            4       0.0
            5       0.0
            6      10.0
            7      12.0
            8       4.0
            9       1.0
            10      0.0
            11      0.0
      106   0       0.0
            1       4.0
            2      23.0
            3       0.0
            4       0.0
            5       0.0
            6       6.0
            7      10.0
            8       0.0
            9       2.0
            10      0.0
            11      0.0

[31800 rows x 1 columns]